.card-body {
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, .100), 0 1px 0px 0 rgba(0, 0, 0, .100);
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-top: 6rem;
    height: 18rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    border-radius: 0 0 .99rem .99rem;
}

.card-footer:last-child {
    border-radius: 0 0 .99rem .99rem;
}

.card-footer, .card-header {
    display: flex;
    background-color: lightgray;
}

.card-footer {
    padding: .5rem 1rem;
    background-color: lightgray;
    border-top: none;
}
